DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/personal_blog?schema=public"
JWT_SECRET="replace-this-with-a-secure-secret-key-at-least-20-characters"
JWT_EXPIRES_IN="1d"
PORT=3000
NODE_ENV=development
CORS_ORIGIN="*"
